* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #3b3b3b;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-size: 28px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.recorder {
  display: flex;
  flex-direction: column;
  width: 700px;
  min-height: 200px;
  max-height: 800px;
}

.recorder-block {
  padding-left: 60px;
  height: 100%;
  overflow: auto;
}

.message {
  display: flex;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.message::before {
  content: '';
  width: 15px;
  height: 100%;
  border-left: 1px solid;
  border-right: 1px solid;
  position: absolute;
  left: -43px;
  top: 35px;
}

.message::after {
  content: '';
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 30px;
    position: absolute;
    left: -50px;
    top: 10px;
    background-color:rgb(80, 165, 80);
}

.message-tag {
  width: 100%;
}

video, audio {
  width: 100%;
}

.video {
  width: 200px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.data {
  width: 161px;
  margin-left: 15px;
}

.record {
  position: relative;
  width: 100%;
  height: 40px;
}

#input-text {
  width: 100%;
  min-height: 50px;
  height: 100%;
  padding: 10px;
}

.buttons-audio-video {
  position: absolute;
  display: flex;
  top: 5px;
  right: 0;
}

.audio-video {
  border: 1px solid;
  width: 40px;
  height: 40px;
  border-radius: 25px;   
  margin-right: 10px;
  cursor: pointer;
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

.audio-video:hover {
  border: 1px solid rgb(255, 38, 38);
}

#audio {
  background-image: url('../img/microphone.png');
}

#audio:hover {
  background-image: url('../img/microphone-hover.png');
}

#video {
  background-image: url('../img/camera.png');
}

#video:hover {
  background-image: url('../img/camera-hover.png');
}

#play {
  background-image: url('../img/save.png');
}

#play:hover {
  background-image: url('../img/save-hover.png');
}

#stop {
  background-image: url('../img/stop.png');
}

#stop:hover {
  background-image: url('../img/stop-hover.png');
}

#timer {
  margin-right: 10px;
}

.record-start {
  display: flex;
}

.record-stop {
  display: flex;
  align-items: center;
}

.popup {
  position: absolute;
  background-color: #ededed;
  border: 1px solid;
  border-radius: 15px;
  width: 450px;
  padding: 30px;
  left: calc((100% - 450px) / 2);
  top: 200px;
}

.popup-input {
  width: 100%;
  height: 30px;
}

.validate {
  border: 1px solid red;
}

.popup-buttons {
  display: flex;
  width: fit-content;
  margin-top: 15px;
  margin-left: 200px;
}

.button {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.popup-ok {
  background-color: rgb(101, 170, 101);
  border: 1px solid rgb(101, 170, 101);
  color: white;
}

.popup-ok:hover {
  background-color: rgb(95, 146, 95);
}

.popup-cancel {
  background-color: #ededed;
}

.popup-cancel:hover {
  background-color: #dadada;
}

.hidden {
  display: none;
}